
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		
		<div id="user_info">
			<div class="row">
				<div class="col-md-4 col-md-offset-4">
					<h2><%= @user.first %> <%= @user.last %></h2>
				</div>
			</div>
			<h4><span class="info_label">Phone:</span> <%= @user.phone %></h4>
			<h4><span class="info_label">Email:</span> <%= @user.email %></h4>
			<h4><span class="info_label">Current Balance:</span> <%= @user.balance %></h4>
			<h4><span class="info_label">ID:</span> <%= @user.id %></h4>
		</div>

		<div id="card_info">
			<h1>Your card(s):</h1>
			<% if @user.cards.any? %>
				<% @user.cards.each do |card| %>
					<%= card.account %>
					<%= card.card_type %>
					<%= card.month %>
					<%= card.year %>
					<%= link_to "Share this card", users_path({user_id: @user.id, card_id: card.id}) %>
					<br>
				<% end %>
			<% else %>
					<h3>You currently have no cards attached to your account.</h3>
			<% end %>
			<br>
			<%= link_to "Add a card", new_card_path({user_id: @user.id}) %>
		</div>
	</div>
</div>



