<!DOCTYPE html>
<html>
  <head>
    <title>Wallet</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet' type='text/css'>
  </head>

  <body class="container-fluid">
  	
  	<%= render 'layouts/header' %>
  	<% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>

  	<%= yield %>

  	<%= render 'layouts/footer' %>

  </body>
  
</html>
